//Colors
$bgColor: #a2a2a1ff;
$appBgColor: rgba(46, 60, 75, 0.8);
$minusClassBg: #fc766aff;
$plusClassBg: #41bd79;
$listItemsBgAndInputs: #a2a2a1ff;

//Font sizes
$h1FontSize: 32px;
$h1FontSizeSm: 29px;

$balanceH2FontSize: 28px;
$balanceH3FontSize: 25px;
$balanceH2FontSizeSm: 25px;
$balanceH3FontSizeSm: 25px;

$boxH4FontSize: 20px;
$boxH5FontSize: 18px;
$boxH4FontSizeSm: 18px;
$boxH5FontSizeSm: 17px;

$lablelsFontSize: 13px;
$lablelsFontSizeSm: 11px;

$listItemDescFontSize: 18px;
$listItemDescFontSizeSm: 16px;

$listItemAmountFontSize: 18px;
$listItemAmountFontSizeSm: 16px;

$delBtnFontSize: 18px;
$delBtnFontSizeSm: 16px;

$hintFontSize: 14px;
$hintFontSizeSm: 12px;

$clearBtnFontSizeSm: 13px;
$clearBtnFontSize: 15px;

$sortBtnFontSize: 20px;
$sortBtnFontSizeSm: 19px;

$placeholder: 12px;
$placeholderSm: 11px;

$btnAddFontSize: 17px;
$btnAddFontSizeSm: 15px;
